<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Sword Review</title>
  <style type="text/css">

    @import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

    body{
      font-size: 20px;
      font-family: 'Work Sans', sans-serif;
      color: #333;
      font-weight: 300;
      text-align: center;
      background-color: #f8f6f0;
    }
    h1{
      font-weight: 300;
      margin: 0px;
      padding: 10px;
      font-size: 20px;
      background-color: #444;
      color: #fff;
    }

    button{
      font-family: 'Work Sans', sans-serif;
      font-size: 22px;
      background-color: #279;
      color: #fff;
      border: 0px;
      border-radius: 3px;
      padding: 20px;
      cursor: pointer;
      margin-bottom: 20px;
    }
    button:hover{
      background-color: #38a;
    }
    button:disabled{
      background-color: grey;
    }

    .meaning{
      width: 100%;
      margin: 10px;
      padding: 10px;
      border: 1px solid black;
    }

  </style>

  <script>
  function allowDrop(ev) {
    ev.preventDefault();
  }
  
  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
  }
  
  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
  }
  </script>
</head>

<body>
{% load shuffle %}
{% if meaning_list %}
<h1>复习：<b>{{ sword }}</b>:请将例句拖入正确的解释框内</h1>
<div id="results"></div>
<div class="quiz-container">
  <div id="quiz"></div>
</div>

<button id="submit">提交答案</button>
<a href="/s_word/">返回</a>
<form id="choiceresultform" action="" method="post">
  {% csrf_token %}
  <input type='hidden' name="test_result" value="" />
  <input type='hidden' name="test_type" value="反选" />
</form>
<form id="testresultform" action="/s_word/{{ question_list.0.word.id }}/reviewresult/" method="post">
  {% csrf_token %}
  <input type='hidden' name="score" value=0 />
  <input type='hidden' name="round" value=2 />
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

  (function() {
    const myMeanings = [
    {% for meaning in meaning_list|shuffle %}
      {
        {% if meaning.pinyin != "" %}
        meaning: "{{ meaning.meaning|linebreaksbr }}【{{ meaning.word_class|linebreaksbr }}】【{{ meaning.pinyin|linebreaksbr }}】",
        {% else %}
        meaning: "{{ meaning.meaning|linebreaksbr }}【{{ meaning.word_class|linebreaksbr }}】",
        {% endif %}
        meaning_id: "{{ meaning.id }}"
      },
    {% endfor %}
    ];
    
    const myChoices = [
      {% for choice in choice_list|shuffle %}
            [
              {{ choice.id }}, 
             "{{ choice.sample|linebreaksbr }}<small>{{ choice.source|linebreaksbr }}</small>",
              "{{ choice.swordmeaning.id }}"
             ],
      {% endfor %}
    ];

    //
    function initSubmitResultForm(formid) {

      $('#'+formid).submit(function(e) {

      e.preventDefault(); // avoid to execute the actual submit of the form.

      var form = $(this);
      var url = form.attr('action');

      $.ajax({
            method: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            }).done(function(data)
            {
              console.log('Submission was successful.');
              console.log(data);
            }).fail(function (data) {
              console.log('An error occurred.');
              console.log(data);
            });
      });

    }

    //


    function buildQuiz() {
      // we'll need a place to store the HTML output
      const output = [];
      const meanings = [];
      const choices = [];

      myMeanings.forEach((currentMeaning, meaningNumber) => {
        meanings.push(
          `<div>
            <lable>${currentMeaning.meaning}</label>
            <div class="meaning" id="meaning${currentMeaning.meaning_id}" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
           </div>`
        );
      });

      myChoices.forEach((currentChoice, choiceNumber) => {  
        choices.push(
          `<div><li draggable="true" ondragstart="drag(event)" id="${currentChoice[0]}" value="${currentChoice[2]}">${currentChoice[1]}</li></div>
          `
        );
      });

      output.push(
          `
          <div>
            ${meanings.join("")}
          </div>
          <div>
            ${choices.join("")}
          </div>`
      );

      // finally combine our output list into one string of HTML and put it on the page
      quizContainer.innerHTML = output.join("");
    }

    // 记录每个选项是否正确选择
    function sendResult(choiceID, testResult) {

      $('input[name="test_result"]').val(testResult);
      $('#choiceresultform').attr('action', `/s_word/${choiceID}/result/`)

      $('#choiceresultform').submit();
    }

    function showResults() {

      // keep track of user's answers
      let numCorrect = 0;

      // for each question...
      myChoices.forEach((currentChoice, choiceNumber) => {
        // find selected answer
        var is_correct = 0;

        const choice = $("#"+currentChoice[0]).val()
        const userAnswer = $("#"+currentChoice[0]).parent().attr('id')

        // if answer is correct
        if ( userAnswer == 'meaning'+choice) {
          // add to the number of correct answers
          numCorrect++;
          is_correct = 1;
        } 

        // submit test result to server 
        sendResult(currentChoice[0], is_correct);
        if ( is_correct == 1){
          $("#"+currentChoice[0]).css("color","green");
        } else {
          $("#"+currentChoice[0]).css("color","red");
        };

      });

      // submit test result to server (关于整个词)
      var score = eval(`${numCorrect} * 100.0 / ${myChoices.length}`)
      $('input[name="score"]').val(score);
      $('#testresultform').submit();

      // show number of correct answers out of total
      resultsContainer.innerHTML = `共 ${myChoices.length} 题，答对 ${numCorrect} 题`;

      if (myChoices.length === numCorrect) {
        resultsContainer.style.color = "green";
        alert("恭喜你通过测试，你可以返回进行下一个词的复习！");
      } else {
        resultsContainer.style.color = "red";
        alert("很抱歉，你没有通过该词的测试，请明天再试！你也可以返回进行下一个词的复习！");
      }

      // disable submit button to aovide 2nd summit
      submitButton.disabled = true
    }


    const quizContainer = document.getElementById("quiz");
    const resultsContainer = document.getElementById("results");
    const submitButton = document.getElementById("submit");

    // display quiz right away
    buildQuiz();
    initSubmitResultForm("choiceresultform");
    initSubmitResultForm("testresultform");

    // on submit, show results
    submitButton.addEventListener("click", showResults);
  })();


</script>
{% else %}
    <p>该实词目前没有学习内容.</p>
    <a href="/s_word/">返回</a>
{% endif %}
</body>

</html>


