<p>{{ doublesyllable.sample }}
{{ result_message }}
<p><strong>{{ result_message }}</strong></p>

<form action="{% url 'DoubleSyllable:result' doublesyllable.id %}" method="post">
{% csrf_token %}
{% for choice in doublesyllable.doublesyllabletestchoice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_txt }}</label><br />
{% endfor %}
<input type="submit" value="提交答案" />
</form>
